body {
    background-color: #ececec;
}

@font-face {
    font-family: 'Mali', cursive;
    src: url('mali.woff');
}

h1 {
    color: #026670;
    font-family: 'Mali', cursive;
}

.BeeImage {
    position: relative;
    text-align: center;
    color: #026670;
}

.ThankYou {
    position: absolute;
    color: #026670;
    top: 8px;
    left: 175px;
    font-family: 'Mali', cursive;
    font-size:100px;
}

.Reason1 {
    position: absolute;
    color: #026670;
    top: 190px;
    left: 175px;
    font-family: 'Mali', cursive;
    font-size:35px
}

.Reason2 {
    position: absolute;
    color: #026670;
    top: 230px;
    left: 175px;
    font-family: 'Mali', cursive;
    font-size:35px;
}

.Question {
    font-family: 'Mali', cursive;
    font-size:45px;
}

.paragraph {
    border: 1px  #f3d250;
    width: 800px;
    height: 500px;
    padding: 50px;
    margin-top: 50px;
    background-color: #f78888;
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 50px;
    float: left;
}

.paragraph
p {
    font-size: 20px;
}

.learnMore {
    background-color: #f3d250;
    box-sizing: border-box;
    width: 44%;
    height: 250px;
    position: relative;
    float: left;
    margin-right: 50px;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 1% 1% 0;
    margin: 3% 1% 1% 0;
}

.learnMore2 {
    background-color: #90ccf4;
    width: 44%;
    height: 240px;
    margin: 0 1% 1% 0;
    box-sizing: border-box;
    float: right;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 1% 1% 0;
}

.learnMore
ul {
    font-size: 20px;
}

.learnMore2
ul {
    font-size: 20px;
}